# BASIC

In [2]:
import os
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import data_loader as dl

In [3]:
df = dl.load_data(2021,2021)
print("Celkem", len(df), "Na den", len(df)/365)

Celkem 99332 Na den 272.14246575342463

In [27]:
# 'usmrceno', 'tezce zraneno', 'lehce zraneno'
df['date'] = pd.to_datetime(df['date'])
df['datetime'] = df['date'] + df['time']
df['month'] = df['datetime'].dt.month

for n in ['usmrceno', 'tezce zraneno', 'lehce zraneno', ]:
    print(n, (df[n] != 0).sum() / len(df))

usmrceno 0.00444972415737124
tezce zraneno 0.014990134095759675
lehce zraneno 0.1684351467804937

In [21]:
df.groupby('month')[['usmrceno', 'tezce zraneno', 'lehce zraneno', ]].sum()

       usmrceno  tezce zraneno  lehce zraneno
month
1.0          21             70           1162
2.0          30             72           1031
3.0          29             76            964
4.0          22             92           1192
5.0          44            175           1729
6.0          43            197           2467
7.0          41            204           2303
8.0          53            175           2281
9.0          38            191           2147
10.0         40            143           1967
11.0         39            106           1481
12.0         48             91           1598

In [24]:
df['jen skoda'] = df['charakter nehody'] == 2
print(df['jen skoda'].sum() / len(df))
df.groupby('month')['jen skoda'].sum()

0.8172190230741352

month
1.0     5112
2.0     4844
3.0     4213
4.0     4917
5.0     6016
6.0     5988
7.0     5432
8.0     5683
9.0     5600
10.0    6419
11.0    6017
12.0    5909
Name: jen skoda, dtype: int64

In [28]:
len(df[df['reg'] == 'JHM'])

6364

In [31]:
df['zver'] = df['druh nehody'] == 5 
zver = df[df['zver'] == True]
print("pomer zver ", len(zver) / len(df))

pomer zver  0.1508979986308541
337.55056779285627 355.709120021349

In [32]:
print(df['skoda na vozidle'].mean(), zver['skoda na vozidle'].mean())

337.55056779285627 355.709120021349

In [36]:
for n in ['tezce zraneno', 'lehce zraneno', 'usmrceno',]:
    print(n, df[n].mean(), zver[n].mean())

tezce zraneno 0.01634921274111062 0.00040029354860230835
lehce zraneno 0.20719405629605767 0.0063379811862032155
usmrceno 0.0047316071356662505 6.671559143371805e-05